.App {
  background:
    /* Right bottom triangle*/
    linear-gradient(120deg,transparent 50%,#ffffff 50%) bottom right,
    #921414;
  background-size: 38.25% 100%; /* Width/height, perfect right triangle on a 1920*1080 screen. */
  background-repeat:no-repeat;
}

.School-color {
  color: #e1cb66;
}

.App-logo {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 5vw;
  width: 15%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  padding: 5vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body > h1 {
  padding: 0px;
  margin: 0px;
}

.App-eventLocation {
  color: #61dafb;
  stroke: #61dafb;
  font-weight: bold;
  font-size: 1.5rem;
}

.App-time {
  letter-spacing: .2rem;
  font-weight: 600;
}

.App-eventContainer {
  margin-top: 5vh;
  font-size: 1.3em;
  max-width: 75vw;
}

.App-eventContainerHeader {
  display: flex;
  margin-bottom: 15px;
}

.App-eventContainerHeader > * {
  margin: 0px;
}

.App-messageContainer {
  margin-top: 25px;
  max-width: 65vw;
}

.App-eventContainer > h6 {
  margin: 0px;
  margin-bottom: 15px;
  font-weight: lighter;
}

.attribution {
  position: fixed;
  color: #f88787;
  left: 0px;
  bottom: 0px;
  margin: 15px;
  padding: 0px;
  font-size: 1.2em;
}